.draft {
  @extend .article;
  width: 100%;

  h2 {
    span {
      display: block;
      width: 100%;
    }

    input {
      border: none;
      font-size: 1em;
      width: 100%;
      font: inherit;
      margin: -2px 0 -1px 0;
      padding: 0;

      &:focus {
        outline: none;
      }
    }
  }

  .content-input {
    .toolbar {
      margin-bottom: 1em;

      > * {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;

        height: 2em;
        width: 2em;

        border: 1px solid rgba(0, 0, 0, 0.1);
        border-right: none;

        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        &:hover {
          background: #eee;
          text-decoration: none;
        }

        .fa {
          @extend .fa-fw;
        }

        .compound {
          .fa {
            // position: relative;
            // left: -3px;
          }
          span {
            font-size: 0.9em;
            font-weight: bold;
            position: relative;
            right: 3px;
          }
        }
      }
    }
  }
}
