.header {
  overflow: hidden;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  background: $header-background-color;

  .header-wrap {
    width: $page-width;
    margin: 0 auto auto auto;
  }

  .logo {
    float: left;
    max-height: 80px;
  }

  .nav {
    float: right;
    margin-top: 35px;
    text-align: right;

    li {
      display: inline-block;
      color: $nav-color;

      &:not(:last-child) {
        margin-right: 20px;
      }

      a {
        color: $nav-color;
      }
    }
  }
}
