.pagination {
  margin-bottom: 2em;

  & > a {
    border-top: 1px solid #aaa;
    padding: 0.5em 1.5em;
    color: black !important;

    &[rel="current"] {
      font-weight: bold;
      border-top: 2px solid #aaa;
    }

    &[rel="next"]:before {
      content: 'NEXT ';
    }
    &[rel="previous"]:after {
      content: ' PREV';
    }

    &:hover {
      text-decoration: none;
      border-top: 2px solid black;
    }
  }
}
