.sidebar {
  box-sizing: border-box;
  width: $sidebar-width;

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }

  .sidebar-bloc {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    h1 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    li {
      padding: 10px 0;
      border-bottom: 1px solid $border-color;
    }
  }
}
