.header {
  @import './_variables.scss';

  overflow: hidden;
  width: 100%;
  height: 80px;
  background: $background_color;

  .nav {
    width: 800px;
    margin: 30px auto auto auto;
    text-align: right;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }

      a {
        color: $nav_color;
      }
    }
  }
}
