$fa-font-path: '../fonts';

$page-width: 1000px;
$font-family: 'sans';
$font-size: 14px;
$background-color: #F2F2F2;
$link-color: gray;
$border-color: #CECECE;
$shadow-color: #CECECE;
$sidebar-width: 250px;
$bloc-padding: 20px;
