/**********
 * Global *
 **********/
$fa-font-path: '~font-awesome/fonts';
$page-width: 1000px;
$font-family: 'Lucida Grande', 'Helvetica', sans-serif;
$font-size: 14px;
$bloc-padding: 20px;
$bloc-margin: 20px;
$link-color: #3F91AC;
$border-color: #CECECE;
$shadow-color: #CECECE;
$body-background-color: #F2F2F2;
$page-background-color: white;
$font-serif: 'PT Serif', serif;
$font-monospace: monospace;

/**********
 * Header *
 **********/
 $header-background-color: #363636;
 $nav-color: white;

/***********
 * Sidebar *
 ***********/
$sidebar-width: 250px;
