@import 'mixins';
@import 'variables';
@import 'reset';

@import '~font-awesome/scss/font-awesome.scss';

@import 'components/header';
@import 'components/sidebar';
@import 'components/article';
@import 'components/signup';
@import 'components/footer';
@import 'components/profile';
@import 'components/main-content';
@import 'components/article-category';
@import 'components/pagination';
@import 'components/comment';

@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
  font-family: $font-family;
  font-size: $font-size;
  background: $body-background-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $link-color;
  }

  &:link {
    color: $link-color;
  }
}

h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.3em;
  margin-bottom: 20px;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.clear-float {
  clear: both;
}

.page-wrap {
  width: $page-width;
  margin: auto;
  display: flex;
}

.bloc {
  box-sizing: border-box;
  background: white;
  @include border-radius(2px);
  @include box-shadow(0, 0, 3px, $shadow-color);
  margin-bottom: 20px;
  padding: $bloc-padding;
}

strong {
  font-weight: bold;
}
